<nav id="main-nav" class='navbar fixed-top navbar-expand-lg'>
  <a href="/"><img class="logo navbar-brand" src="/assets/LogoMakr_4dwIOn.png" width="110" height="35"></a>
  <ol class="nav menu" id="navbarToggler">
    <li class="hamburger"><i class="fas fa-bars"></i></li>
    <div class="nav-list-container navigation-items">
      <li class="nav-item">
        <a href="/" class="nav-button btn btn-primary">Home</a>
      </li>
      <li class="nav-item">
        <a href="/maps/create" class="nav-button btn btn-primary">Create Map</a>
      </li>
    </div> <!-- navigation items -->
    <div class="nav-list-container login-items">
      <% if (user) { %>
        <li class="nav-item mr-2">
            <a href="/users/<%= user.id%>" class="nav-button btn btn-primary">Profile</a> <!-- <-- PUT THE PROFILE PAGE URL IN HERE -->
          </li>
        <li class="nav-item">
          <form class="form-inline" action="/logout" method="POST">
            <!-- <label for="logout">Logged in as: <%= user.username %></label> -->
            <button type="submit" id="logout" class="nav-button btn btn-primary">Logout</button>
          </form>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a href="/register" class="nav-button btn btn-primary">Register</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-button btn btn-primary">Login</a>
        </li>
      <% } %>
    </div> <!-- login items -->

  </ol>
</nav>
