// Colours
/* main blue #74DDD9 */
$primary-color: #74DDD9;
$blue-transparent-gradient: rgba(202,245,239,0.8);
/* light blue #CAF5EF */
$secondary-color: #CAF5EF;
/* pale pink #FFC4AC */
$tertiary-color: #FFC4AC;
/* Black: #545149 */
$black: #545149;
$black-transparent-gradient: rgba(84,81,73,0.7);
// White - old off white: #f4f1ec
$white: #fff;
