// Colours
/* main blue #74DDD9 */
$primary-color: #74DDD9;
/* light blue #CAF5EF */
$secondary-color: #CAF5EF;
/* pale pink #FFC4AC */
$tertiary-color: #FFC4AC;
/* Black: #545149 */
$black: #545149;
// White #f4f1ec
$white: #f4f1ec;
