// Colours
/* main blue #74DDD9 */
$primary-color: #74DDD9;
$blue-transparent-gradient: rgba(202,245,239,0.8);
/* light blue #122C34 */
$secondary-color: #122C34;
/* pale pink #FFC4AC */
$tertiary-color: #FFC4AC;
// Pale green #BBD8B3
$quaternary-color: #BBD8B3;
/* Black: #000000 */
$black: #000000;
$black-transparent-gradient: rgba(0,0,0,0.7);
// White - old off white: #f4f1ec
$white: #fff;
