main form {
  width: 50%;
  label {
    color: $secondary-color;
    font-size: 1.5rem;
  }

  .form-row {
    text-align: center;
  }

  .form-group {
    margin: 40px 0;
  }

  .form-row,
  .form-group:last-of-type {
    @include flexThis(center, center, column);
  }
  .btn {
    background-color: $primary-color;
    width: 100px;
    height: 50px;
    color: $secondary-color;
    border: solid 2px $secondary-color;
  }

  .btn:hover,
  .btn:focus {
    background-color: $secondary-color;
    color: $primary-color;
    border: solid 2px $primary-color;
  }

  textarea {
    resize: none;
    overflow: auto;
  }
}

@media all and (max-width: 1200px) {
  main form {
    width: 60%;
  }
}

@media all and (max-width: 750px) {
  main form {
    width: 90%;
  }
}
