@import "fonts";
@import "colors";
@import "mixins";

img{
  max-width: 100%;
  display: block;
}

.visuallyhidden:not(:focus):not(:active) {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
    }

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 9999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}

body {
  height: auto !important;
  background-color: $white;
  color: $black;
  $font-family: $primary-font;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-color;
    font-family: $header-font;
    margin: 0;
    padding: 0;
  }

  p {
    font-weight: bold;
  }

  p,
  a,
  button {
    margin: 0;
    padding: 0;
  }

  .btn {
    background-color: $tertiary-color;
    border-color: $tertiary-color;
    color: $black;
  }

  .wrapper {
    width: 70%;
    @include flexThis(space-around, center, row);
    flex-wrap: wrap;
  }

}

/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (max-width: 1025px) {
  #main-nav {
    height: 70px;
  }
  .profile-container {
    margin-top: 4em;
    height: 450px;
    position: relative;
    width: 100vw;
  }
  .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    #profile-image {
      width: 50%;
    }
  }
  #profile-details {
    margin-top: 1em;
    display: flex;
    justify-content: space-around
  }
  main {
    width: 100vw;
  }
  #nav-tab {
    padding-top: 1.5em;
  }
  // Browse Maps Section
  #maps-created-container, #maps-contributed-container, #maps-liked-container {
    // padding: 10vh 0;
    display: block;
  }
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1025px) {
  #main-nav {
    height: 100px;
  }
  .profile-container {
    padding-top: 140px;
    height: 100vh;
    width: 30%;
    position: fixed;
  }
  #profile-image {
    width: 100%;
    height: 100%;
  }
  main {
    width: 70%;
    margin-left: 30%;
    position: fixed;
  }
  #profile-details {
    height: 64%;
    display: -webkit-flex;
    display: flex;
    position: relative;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  .profile-picture {
    padding-top: 5%;
  }
  #nav-tab {
    padding-top: 140px;
  }
  // Browse Maps Section
  #maps-created-container, #maps-contributed-container, #maps-liked-container {
    // padding: 10vh 0;
    display: block;
    height: 75vh;
    overflow: auto;
  }
}
