@import "maps";
@import "fonts";
@import "colors";
@import "mixins";

// Set map to full screen size
#map-container {
  margin-top: 10vh;
  height: 90vh;
  max-height: 90vh;
  width: 100%;
  position: relative;
}

// Remove default margins from search form
#search-form {
  margin: 0;
}

// Align top two containers from nav bar
#search-container,
#about-map-container {
  top: 75px;
}

// Width and sizing for left containers
#search-results-container,
#search-container {
  max-width: 450px;
  width: 27.5%;
  left: 0;
}

// Aligns the bottom 2 containers to consistent distance from nav
#search-results-container,
#pin-container {
  top: 35vh;
  height: 55vh;
}

// Sizing for the two containers on right of screen
#about-map-container,
#pin-container {
  max-width: 350px;
  width: 25%;
  right: 0;
}

// Button styling for page (does not impact nav bar)
.edit-container,
#pin-create-form,
#all-pins {
  .btn {
    border-radius: 10px;
    background-color: $primary-color;
    border: solid 2px transparent;
    color: $secondary-color;
  }

  .btn:hover,
  .btn:focus {
    background-color: $primary-color;
    color: $quaternary-color !important;
    border: solid 2px $secondary-color;
  }
}

// Styling for all 4 containers on screen giving them fixed positioning and general styling
.edit-container {
  position: absolute;
  background-color: $secondary-color;
  border: none;
  z-index: 100;
  padding: 30px;
  border: solid 2px $secondary-color;
  border-radius: 10px;

  p {
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: lighter;
  }

  h2,
  p {
    color: $primary-color;
  }

  .form-item {
    margin-bottom: 15px;
  }

  .form-row {
    @include flexThis(space-between, center, row);
    width: 100%;
    margin: 0;

    span {
      @include flexThis(space-between, center, row);
    }
  }

}

#pin-container {
  form {
    z-index: 2000;
    display: inline;
  }
  .pin-btn-container {
    @include flexThis(space-between, center, row);
  }
  .pin-btn {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding: 0;
    i {
      font-size: .9rem;
    }
  }

  .pin-btn:hover {
    background-color: $quaternary-color;
  }
}

// Bottom left container on screen that contains results from searches
#search-results-container,
#pin-container {
  padding: 0;
  overflow: scroll;


  // Formatting for search results that appear after query in search bar
  .search-result {
    @include flexThis(space-between, center, row);
    z-index: 100;
    margin: 0;
    overflow: unset;
    padding: 15px 25px;
    transition: 0.3s;

    p:first-of-type {
      font-weight: bold;
      margin-bottom: 5px;
    }

    span,
    .search-result-img {
      display: block;
      height: 100%;
      border-radius: 25px;
    }

    .result-details {
      width: 60%;
    }

    .result-image {
      width: 30%;
    }

    .search-result-img {
      display: block;
      width: 100%;
      height: 80px !important;
    }

  }
}

.search-result:hover {
  cursor: pointer;

  background: $primary-color;
  p {
    color: $secondary-color;
  }

}

// Pin Submit and Edit Form generated on click of marker
#pin-create-form {
  @include flexThis(center, center, column);
  width: 100%;
  div {
    @include flexThis(center, center, row);
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: $secondary-color;
  }

  .form-group {
    margin: 0;
  }

  .form-row {
    @include flexThis(space-between, center, row);
    width: 90%;
    margin-bottom: 15px;
  }

  label {
    width: 30%;
    font-weight: bold;
    font-size: 1rem;
    color: $secondary-color;
    justify-content: flex-start;
  }

  .form-control {
    width: 60%;
  }

  textarea {
    resize: none;
    overflow: auto;
  }

}

// Styling for about map container
#about-map-container {
  padding: 10px;
  text-align: center;
  @include flexThis(center, center, column);

  .row {
    @include flexThis(center, center, row);
    width: 90%;
    text-align: center;
  }

  h2,
  p {
    margin: 10px 0;
    display: inline;
  }
}

#map-subject-label {
  white-space: pre;
  font-weight: bold;
}

#search-results-header,
#pin-container-header,
.search-result {
  border-bottom: .5px solid $secondary-color !important;
  padding: 20px 0;
}
