@import "colors";
@import "fonts";
@import "mixins";

main {
  @include flexThis(center, center, column);
  text-align: center;
}

.wrapper {
  margin-top: 20vh;


  #map-create-form {
    background-color: $secondary-color;
    padding: 50px / 615px * 100%;
    border-radius: 10px;
    div {
      @include flexThis(space-between, center, row);
    }
  }
}

