@import "maps";
@import "fonts";
@import "colors";
@import "mixins";

#map-container {
  margin-top: 10vh;
  height: 90vh;
  max-height: 90vh;
  width: 100%;
  position: relative;
}

#search-form {
  margin: 0;
}

#search-container,
#about-map-container {
  top: 10vh;
}

#search-results-container,
#search-container {
  max-width: 450px;
  width: 27.5%;
  left: 0;
}

#search-results-container,
#pin-container {
  top: 35vh;
  height: 55vh;
}

#about-map-container,
#pin-container {
  max-width: 350px;
  width: 25%;
  right: 0;
}

.edit-container {
  position: absolute;
  background-color: $quaternary-color;
  border: none;
  z-index: 100;
  padding: 30px;
  border: solid 2px $secondary-color;
  border-radius: 10px;

  p {
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: lighter;
  }

  h2,
  .btn,
  p {
    color: $secondary-color !important;
  }

  .btn {
    border-radius: 10px;
    background-color: $tertiary-color;
    border: solid 2px transparent;
  }

  .btn:hover,
  .btn:focus {
    background-color: $secondary-color;
    color: $primary-color !important;
    border: solid 2px $primary-color;
  }

  .form-item {
    margin-bottom: 15px;
  }

  .form-row {
    @include flexThis(space-between, center, row);
    width: 100%;
    margin: 0;

    span {
      @include flexThis(space-between, center, row);
    }

    .pin-btn {
      border-radius: 100%;
      height: 30px;
      width: 30px;

      i {
        font-size: .9rem;
      }
    }
  }

}



#search-results-container {
  padding: 0;
  overflow: scroll;

  #search-results-header,
  .search-result {
    border-bottom: .5px solid $secondary-color;
    padding: 20px 0;
  }

  .search-result {
    @include flexThis(space-between, center, row);
    z-index: 100;
    margin: 0;
    overflow: unset;
    padding: 15px 25px;
    transition: 0.3s;

    p:first-of-type {
      font-weight: bold;
      margin-bottom: 5px;
    }

    span,
    .search-result-img {
      display: block;
      height: 100%;
    }

    .result-details {
      width: 60%;
    }

    .result-image {
      width: 30%;
    }

    .search-result-img {
      display: block;
      width: 100%;
      height: 80px !important;
    }

  }
}


.search-result:hover {
  cursor: pointer;
  background: $tertiary-color;
}



#pin-create-form {
  @include flexThis(center, center, column);
  width: 100%;
  height: 200px;
  padding: 10px;
  background-color: $tertiary-color;


  .form-input {
    width: 50%;
    border: none;
    border-radius: 5px;
  }

}



#create-pin-btn {
  background-color: $primary-color;
}
