<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Home Page</title>

    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <!-- External Style and Scripts -->
    <%include ./partials/_external_tags.ejs%>

  </head>

  <body>

    <%- include ./partials/_nav.ejs%>


    <div class="hero">
      <h1>GeoPin</h1>
      <h2>There's a map for everything</h2>
      <button type="button" onclick="smoothScrollToLink()" id="browse-button" title="Go to browse section " class="btn btn-primary">Browse</button>
      <a href="/maps/create" class="btn btn-primary">Create New</a>
    </div> <!-- hero -->

    <main id="main-content">
      <section id="all-maps">
        <div id="browse-map-wrapper" class="wrapper">
        </div> <!-- wrapper -->
      </section> <!-- all maps -->
    </main>
    <!-- Components -->
    <script type="text/javascript" src="/scripts/components/all_maps.js"></script>
    <script type="text/javascript" src="/scripts/ajax/ajaxMap.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
