<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Home Page</title>

    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <!-- External Style and Scripts -->
    <%include ./partials/_external_tags.ejs%>

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <%- include ./partials/_nav.ejs%>


    <div class="hero">
      <h1>GeoPin</h1>
      <h2>There's a map for everything</h2>
      <button type="button" onclick="smoothScrollToLink()" id="browse-button" title="Go to browse section " class="btn btn-primary">Browse</button>
      <a href="/maps/create" class="btn btn-primary">Create New</a>
    </div> <!-- hero -->

    <main id="main-content">
      <section id="all-maps">
        <div class="wrapper">
          <a href="/maps/123/edit" class="single-map">
            <div class="map-thumbnail map-container">
              <div class="hover-read">
                <div class="map-header">
                  <h4>21 Pins</h4>
                </div> <!-- map-header -->
                <div class="map-description">
                  <p>These are the best burgers in the city. Fact.</p>
                </div> <!-- map-description -->
                <div class="map-footer">
                  <span class="socials">
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-flag"></i>
                    <i class="fas fa-retweet"></i>
                  </span> <!-- socials -->
                </div> <!-- map-footer -->
              </div> <!-- hover-read -->
            </div> <!-- map-thumbnail -->
            <h4>kendy1234 - Toronto's Best Burgers</h4>
          </a> <!-- single map -->

          <a href="/maps/123/edit" class="single-map">
            <div class="map-thumbnail map-container">
              <div class="hover-read">
                <div class="map-header">
                  <h4>21 Pins</h4>
                </div> <!-- map-header -->
                <div class="map-description">
                  <p>These are the best burgers in the city. Fact.</p>
                </div> <!-- map-description -->
                <div class="map-footer">
                  <span class="socials">
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-flag"></i>
                    <i class="fas fa-retweet"></i>
                  </span> <!-- socials -->
                </div> <!-- map-footer -->
              </div> <!-- hover-read -->
            </div> <!-- map-thumbnail -->
            <h4>kendy1234 - Toronto's Best Burgers</h4>
          </a> <!-- single map -->
        </div> <!-- wrapper -->
      </section> <!-- all maps -->
    </main>
  </body>
</html>
