<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Home Page</title>

    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <!-- External Style and Scripts -->
    <%include ./partials/_external_tags.ejs%>

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <%- include ./partials/_nav.ejs%>


    <div class="hero">
      <h1>GeoPin</h1>
      <h2>There's a map for everything</h2>
      <button type="button" onclick="smoothScrollToLink()" id="browse-button" title="Go to browse section " class="btn btn-primary">Browse</button>
      <a href="/maps/create" class="btn btn-primary">Create New</a>
    </div>

    <main id="main-content">
      <div class="wrapper">

      </div> <!-- wrapper -->
    </main>
  </body>
</html>
