<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- To add: read title from map object into page -->
    <title>Edit Map</title>

    <!-- External Style and Scripts -->
    <%include ./partials/_external_tags.ejs%>


    <link rel="stylesheet" href="/styles/maps_edit.css" type="text/css" />

  </head>

  <body>
    <!-- to add: skiplink -->
    <%include ./partials/_nav.ejs%>
    <main>
      <div id="map-container" class="map-container">

        <div id="search-container" class="edit-container">

          <div>
            <textarea id="search-map-input" class="form-input" name="searchInput" placeholder="Search map"></textarea>
            <button id="search-map-btn" class="btn btn-primary" type="submit">Search</button>
          </div>

          <h2>Search Results</h2>

          <!-- Placeholder demo of create/edit pin form -->
          <!-- <form id="pin-create-form" action="/maps/:map_id/pins/:pin_id/create" method="POST">
            <div class="form-row">
              <label for="pin-label">Label:</label>
              <textarea class="form-input" type="text" id="pin-label" name="label" placeholder="Label your pin..."></textarea>
            </div>
            <div class="form-row">
              <label for="pin-description">Description:</label>
              <textarea class="form-input" id="pin-description" name="description" placeholder="Describe your pin..."></textarea>
            </div>
            <div class="form-row">
              <label for="pin-thumbnail">Thumbnail URL:</label>
              <textarea class="form-input" type="text" id="pin-thumbnail" name="pin_thumbnail_url" placeholder="Paste your image URL..."></textarea>
            </div>
            <button id="create-pin-btn" class="btn btn-primary" type="submit">Submit</button>
          </form> -->

        <div id="search-results-container">

        </div>

        </div> <!-- search-container -->

        <div id="map" data-city=<%=map_city %>>
        </div> <!-- map -->

        <div id="pin-container" class="edit-container">
          <h2>Your Pins</h2>
          <div id="all-pins">
          </div> <!-- all-pins -->
        </div> <!-- pin-container -->



      </div>
    </main>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->

    <!-- Helpers -->
    <script type="text/javascript" src="/scripts/helpers.js"></script>

    <!-- <script src="/scripts/init_map.js"></script> -->
    <script src="/scripts/places_search_test.js"></script>

    <!-- SCRIPT THAT INCLUDES PLACES LIBRARY -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwTwnh2Y7IqPIcltHVnlKMyBPI8pF5UcY&libraries=places&callback=placeSearchInit" async defer></script>

    <!-- NEW SCRIPT THAT INCLUDES PLACES LIBRARY -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwTwnh2Y7IqPIcltHVnlKMyBPI8pF5UcY&libraries=places&callback=initMap" async defer></script> -->

    <!-- Components -->
    <script type="text/javascript" src="/scripts/components/all_pins.js"></script>

    <!-- Ajax -->
    <script type="text/javascript" src="/scripts/ajax/ajax_pin.js"></script>

    <!-- Driver -->
    <script type="text/javascript" src="/scripts/maps_edit.js"></script>

  </body>
</html>
