<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- To add: read title from map object into page -->
    <title>Your Map</title>

    <!-- External Style and Scripts -->
    <%include ./partials/_external_tags.ejs%>

  </head>

  <body>
    <a href="#main-content" class="skip-link">Skip to main content.</a>
    <%include ./partials/_nav.ejs%>

    <div id="map-container">
      <div id="map">

      </div>
    </div>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script src="/scripts/init_map.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwTwnh2Y7IqPIcltHVnlKMyBPI8pF5UcY&callback=initMap" async defer></script> -->
    <!-- NEW SCRIPT THAT INCLUDES PLACES LIBRARY -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwTwnh2Y7IqPIcltHVnlKMyBPI8pF5UcY&libraries=places&callback=initMap" async defer></script>

  </body>
</html>
