<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Create Map</title>

  <!-- External Style and Scripts -->
  <%include ./partials/_external_tags.ejs%>

</head>
<body>

  <!-- We need user information about the map -->
  <form method ="POST" action ="/create">
    <div class="form-group">
      <!-- title of map -->
      <label for="map-title">Enter a title</label>
      <input type="text" name="mapTitle">
      <!-- subject of map -->
      <label for="map-subject">What is the subject of your map</label>
      <input type="text" name="mapSubject">
      <!-- description of map -->
      <label for="map-description">Give your map a description</label>
      <input type="text" name="mapDescription">
      <!-- city of map -->
      <label for="map-city">What city is your map in?</label>
      <input type="text" name="city">
      <!-- owner id !!!! DELETE AFTER WARDS -->
      <label for="map-owner">Owner Id</label>
      <input type="text" name="owner_id">
    </div>
  </form>

</body>
</html>
