<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- To add: read title from map object into page -->
    <title>Edit Map</title>

    <!-- External Style and Scripts -->
    <%include ./partials/_external_tags.ejs%>


    <link rel="stylesheet" href="/styles/maps_edit.css" type="text/css" />

  </head>

  <body>
    <!-- to add: skiplink -->
    <%include ./partials/_nav.ejs%>
    <main>
      <div id="map-container">

        <div id="search-container" class="edit-container">
          <h2>Your Places</h2>

        </div> <!-- search-container -->

        <div id="map">
        </div> <!-- map -->

        <div id="pin-container" class="edit-container">
          <h2>Your Pins</h2>
          <div class="single-pin-row">
            <p>This is my pin</p>
            <span>
              <form action="/users/:owner_id/maps/:map_id/pins/:pin_id/edit/?_method=PUT" method="POST">
                <button id="edit-pin-btn" class="pin-btn" type="button"><i class="fas fa-edit"></i></button>
              </form>
              <form action="/users/:owner_id/maps/:map_id/pins/:pin_id/delete/?_method=DELETE" method="POST">
                <button id="delete-pin-btn" class="pin-btn" type="button"><i class="fas fa-minus-circle"></i></button>
              </form>
            </span>
          </div>
        </div>
        <!--  -->
      </div>
    </main>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script src="/scripts/init_map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwTwnh2Y7IqPIcltHVnlKMyBPI8pF5UcY&callback=initMap" async defer></script>
  </body>
</html>
