@media screen and ( max-height: 1000px), (max-width: 750px) {
  .side-bar-collapse {
    width: 12.5%;
    visibility: visible;
  }

  .edit-container {
    width: 0;
    visibility: hidden;
  }

  #search-container,
  #about-map-container {
    top: 7vh;
  }

  // Aligns the bottom 2 containers to consistent distance from nav
  #search-results-container,
  #pin-container {
    top: 40vh;
  }

  #about-map-container-cl,
  #search-container-cl {
    top: 10vh;
  }

  #search-results-container-cl,
  #pin-container-cl {
    top: 70vh;
  }
  #search-results-container-cl,
  #pin-container-cl {
    top: 50vh;
  }
}


